@model IEnumerable<IbrahimCarbugaBlog.Models.KategoriModel>

<h2>Kategoriler</h2>
<p>
    @Html.ActionLink("Yeni Oluştur", "Create",new { isModal=true }, new
{
    @class = "btn btn-success",
    data_ajax = "true",
    data_ajax_method = "GET",
    data_ajax_mode = "replace",
    data_ajax_update = "#createModal",
    data_toggle = "modal",
    data_target = "#createModal"
})
</p>
<table id="userTable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.KategoriAdi)
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.KategoriId }, new {
                   @class = "btn btn-primary",
                   data_ajax = "true",
                   data_ajax_method = "GET",
                   data_ajax_mode = "replace",
                   data_ajax_update = "#editModal",
                   data_toggle = "modal",
                   data_target = "#editModal"
                    }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.KategoriId }, new
               {
                   @class = "btn btn-danger",
                   onclick = "return confirm('Silmek istediğinize emin misiniz?')" 


                    })
                </td>
            </tr>
        }
    </tbody>
</table>
<section name="modals">
    <!-- Modal -->
    <div id="detailModal" class="modal fade" role="dialog">
    </div>
    <!-- Modal -->
    <div id="editModal" class="modal fade" role="dialog">
    </div>
    <!-- Modal -->
    <div id="createModal" class="modal fade" role="dialog">
    </div>
</section>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                language: { url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json" },
                responsive: true,
                colReorder: true,
                fixedHeader: {
                    headerOffset: 50
                }
            });
        });
    </script>
}
